@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* ============================================================================================================= */
/* Tela da Homepage */

header {
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    background-color: #11C870;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.logo img {
    width: 45px;
    height: auto;
}

.logo:hover {
    text-decoration: none;
}

nav ul {
    margin-right: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: #11C870;
    border-radius: 40px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #ffffff;
}

nav ul li a:hover {
    background-color: #11C870;
    color: #ffffff;
    border-color: #ffffff;
}

.container-home {
    display: flex;
    align-items: center;
    padding: 20px;
}

#img-home {
    width: 550px;
    height: auto;
}

#texto-home {
    font-family: 'Lato', sans-serif;
    color: #555555;
    font-weight: 400;
    padding: 40px;
    margin: 2%;
}

#h1-ola {
    font-size: 34px;
}

#h1-ola .ola {
    font-size: 50px;
}

#h1-ola .bem-vindo {
    margin-left: 10px;
}

#h1-ola .ticketpro {
    color: #11C870;
    font-weight: bold;
}

#texto-home h2 {
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
}

/* ============================================================================================================= */
/* Tela Login */

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.retangulo {
    display: flex;
    background-color: #11C870;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    align-items: center;
    width: 120vh;
    height: 100vh;
    margin-right: auto;
}

.retangulo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.retangulo #img-logo {
    width: 6vh;
    height: auto;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 89vh;
}

.retangulo img {
    height: 75vh;
    width: auto;
    margin-left: -30vh;
}

.retangulo h1 {
    color: white;
    font-weight: 700;
    font-size: 4vh;
    margin-left: 1.5vh;
    margin-bottom: 83vh;
}

.fundo-form {
    width: 90vh;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5vh;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 20%);
    padding-top: 20px;
    position: relative;
}

.fundo-form h1 {
    color: #11C870;
    font-size: 4.5vh;
    font-weight: bold;
    text-align: center;
    margin-top: 9vh;
}

.fundo-form input {
    height: 8vh;
    width: 45vh;
    border-radius: 10vh;
    border: none;
    outline: none;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 25%);
    color: #969696;
    font-size: 2.4vh;
    font-weight: 200;
    padding-left: 8vh;
}

#bt-usu {
    margin-top: 7vh;
}

#bt-senha {
    margin-top: 2vh;
}

.fundo-form button {
    height: 8vh;
    width: 45vh;
    font-size: 3vh;
    font-weight: 600;
    background-color: #11C870;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 25%);
    color: #ffffff;
    border-radius: 10vh;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 5vh;
}

.fundo-form button:hover {
    background-color: #0ea65f;
    transform: scale(1.02);
    cursor: pointer;
}

.fundo-form p {
    color: #808080;
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 5vh;
}

.fundo-form a {
    text-decoration: none;
    color: #11C870;
}

.fundo-form h2 {
    font-size: 2vh;
    font-weight: 400;
    color: #949494;
    position: absolute;
    bottom: -60px;
    text-align: center;
}

#codewave {
    color: #11C870;
}

/* ============================================================================================================= */
/* Tela de Cadastro */

.container-cad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.retangulo2 {
    display: flex;
    background-color: #11C870;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    align-items: center;
    width: 150vh;
    height: 100vh;
    margin-right: auto;
}

.retangulo2 a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.retangulo2 #img-logo {
    width: 6vh;
    height: auto;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 89vh;
}

.retangulo2 img {
    height: 78vh;
    width: auto;
    margin-left: -19vh;
}

.retangulo2 h1 {
    color: white;
    font-weight: 700;
    font-size: 4vh;
    margin-left: 1.5vh;
    margin-bottom: 83vh;
}

.fundo-form2 {
    width: 90vh;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5vh;
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 20%);
    padding-top: 20px;
    position: relative;
}

.fundo-form2 h1 {
    color: #11C870;
    font-size: 4.5vh;
    font-weight: bold;
    text-align: center;
    margin-top: 9vh;
}

.fundo-form2 input {
    height: 8vh;
    width: 45vh;
    border-radius: 10vh;
    border: none;
    outline: none;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 25%);
    color: #969696;
    font-size: 2.4vh;
    font-weight: 200;
    padding-left: 8vh;
}

#bt-usu2 {
    margin-top: 7vh;
}

#bt-email {
    margin-top: 2vh;
}

#bt-senha2 {
    margin-top: 2vh;
}

.fundo-form2 button {
    height: 8vh;
    width: 45vh;
    font-size: 3vh;
    font-weight: 600;
    background-color: #11C870;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 25%);
    color: #ffffff;
    border-radius: 10vh;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 5vh;
}

.fundo-form2 button:hover {
    background-color: #0ea65f;
    transform: scale(1.02);
    cursor: pointer;
}

.fundo-form2 p {
    color: #808080;
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 5vh;
}

.fundo-form2 a {
    text-decoration: none;
    color: #11C870;
}

.fundo-form2 h2 {
    font-size: 2vh;
    font-weight: 400;
    color: #949494;
    position: absolute;
    bottom: -60px;
    text-align: center;
}

#codewave2 {
    color: #11C870;
}

/* Estilizando os containers dos inputs*/
.input-container {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
}

/* Estilo para os icons */
.icon {
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Impede que o ícone interfira no clique */
}

/* Ícone do olho fica a direita */
.eye-icon {
    right: 15px;
    left: auto;
    cursor: pointer;
}

/* Ajuste no input para que o texto não sobreponha os ícones */
input {
    padding-left: 45px; /* Espaço suficiente para o ícone à esquerda */
}

/* Ajuste no input de senha para o ícone de olho à direita */
#bt-senha2 {
    padding-left: 45px; /* Espaço para o ícone de cadeado à esquerda */
    padding-right: 45px; /* Espaço para o ícone de olho à direita */
}

/* ============================================================================================================= */
/* Tela Sistema do Usuário */